.menu {
  position: absolute;
  background-color: light-dark(#e2e8f0, #0f172a);
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 0 0 1px light-dark(#1e293b, #0f172a);
  border: 1px solid light-dark(#1e293b, #f1f5f9);
}

.item {
  padding: 5px;
  cursor: pointer;
}

.item:hover {
  background-color: light-dark(#cbd5e1, #1e293b);
}
